#Infos {
    margin: 80px 0 0 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    background-color: #edf8ded3;
}
.Header{
    width: 100vw;
    margin: 0;
    height: 80px;
    line-height: 80px;
    background-color: #95cc41;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
#closeButton {
    margin: 160px 10vw 0 0;
    background-color: white !important;
}
#infosImg{
    width: 100vw;
}
#Lieu{
    width: 100vw;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2em;
    background-color: #c6e499;
    padding-bottom: 25px;
}
#InfosName {
    height: 100px;
    line-height: 100px;
    width: 100vw;
    margin: -75px 0 0 0;
    Background-color: #95cc41;
    color: white;
}
#InfosDate {
    margin-top: 70px;
    padding-top: 60px;
}
#InfosPlace {
    margin-top: 40px;
    text-transform: uppercase;
}
#InfosAddress{
    margin-top: 40px;
}
#InfosChip{
    width: 70vw;
    margin: 40px auto;
}
.MuiChip-label{
    font-size: 16px !important;
}
#InfosPrice {
    margin-top: 70px;
    font-size: 1.2em;
}
#PriceTableContainer{
    width: 40vw;
    min-width: 350px;
    margin: auto;
}

@media only screen and (max-width: 400px) {
    #InfosName {
        font-size: 5vw;
    }
    
}