.TableRow {
    height: 120px;
    border-bottom: 1px solid #e9e8e8;
    
}
.TableRow:hover {
    box-shadow: 2px 2px  #a2d650;
}
.MuiTableCell-root {
    height: 100px;
    border: none !important;
    padding: 0 !important;
}
.middleCell {
    font-weight: bold !important;
}
#name {
    text-transform: uppercase;
}
.MuiTableCell-root:last-child{
    width: 150px !important;
}
#divImg {
    width: 142px;
    height: 100px;
}
#imageCell {
    width: 150px;
    margin-top: 50px;
    transform: translateY(-50%);
    z-index: 0;
}
.routeInfos {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 5px 10px;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center !important;
    padding: 0 20px;
}
#paginationRow {
    width: 80vw;
    height: 80px;
}
#paginationCell{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vw;
}
.MuiFab-root {
    width: 40px !important;
    height: 40px !important;
}
.MuiFab-root.Mui-disabled{
    opacity: 0.3;
}