
.TableRow {
    height: 120px;
    border-bottom: 1px solid #e9e8e8;
}
.TableRow:hover {
    /* height: 130px; */
    box-shadow: 2px 2px  #a2d650;
}
.MuiTableCell-root {
    height: 100px;
    border: none !important;
    padding: 0 !important;
    /* align-self: center !important; */
}
#divImg {
    width: 150px;
    height: 100px;
    float: right;
}
#imageCell {
    width: 150px;
    margin-top: 50px;
    transform: translateY(-50%);
}
.routeInfos{
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 5px 10px;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center !important;
    padding: 0 20px;
}